In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_excel('Simple Regression.xlsx')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Residuals,Residuals Squared,Regression Errors,Squared Regg Errors,Squared Total Error,Unnamed: 10,R^2
0,X,y,X-Xbar,y-ybar,yhat,y-yhat,(y-yhat)^2,yhat-ybar,(yhat-ybar)^2,(y-ybar)^2,NaN,NaN
1,46,354,6.88,43.28,347.3322,6.6678,44.459557,36.6122,1340.453189,1873.1584,NaN,0.701167
2,20,190,-19.12,-120.72,208.994,-18.994,360.772036,-101.726,10348.179076,14573.3184,NaN,NaN
3,52,405,12.88,94.28,379.2564,25.7436,662.732941,68.5364,4697.238125,8888.7184,NaN,NaN
4,30,263,-9.12,-47.72,262.201,0.799,0.638401,-48.519,2354.093361,2277.1984,NaN,NaN

In [6]:
data = data.drop(0,axis=0)
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Residuals,Residuals Squared,Regression Errors,Squared Regg Errors,Squared Total Error,Unnamed: 10,R^2
1,46,354,6.88,43.28,347.3322,6.6678,44.459557,36.6122,1340.453189,1873.1584,NaN,0.701167
2,20,190,-19.12,-120.72,208.994,-18.994,360.772036,-101.726,10348.179076,14573.3184,NaN,NaN
3,52,405,12.88,94.28,379.2564,25.7436,662.732941,68.5364,4697.238125,8888.7184,NaN,NaN
4,30,263,-9.12,-47.72,262.201,0.799,0.638401,-48.519,2354.093361,2277.1984,NaN,NaN
5,57,451,17.88,140.28,405.8599,45.1401,2037.628628,95.1399,9051.600572,19678.4784,NaN,NaN

In [8]:
data['X'] = data['Unnamed: 0']
data['y'] = data['Unnamed: 1']

In [10]:
X = data[['X']]
y = data[['y']]

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.5,random_state=1)

In [43]:
regg_model = LinearRegression()
regg_model.fit(X_train,y_train)

LinearRegression()

In [44]:
regg_model.coef_[0]

array([5.22745609])

In [45]:
regg_model.intercept_

array([116.99305744])

In [46]:
regg_model.score(X_test,y_test)

0.7275160390729667